*{margin:0%; padding: 0%;}
body{background-color: #ecf0f3; overflow: hidden;}


.start-page{width: 100%; 
height: 100vh;
overflow: hidden;}

.start-page .title-name
{text-align: center;
font-family: 'Playfair Display SC', serif;
margin-top: 45vh;
/* box-shadow: 0 0 0 1000vmax #eee; */
font-weight: 200;}

.typing-demo {
width: 18ch;
animation: typing 2s steps(22),
blink 5s step-end infinite alternate;
white-space: nowrap;
overflow: hidden;
margin: auto;}
@keyframes typing {from {width: 0}}    
@keyframes blink {50% {border-color: transparent}}
/* END START PAGE */




/* START LOGIN PAGE */

.LOGIN{display: none;}
.LOGIN{width: 100%; height: 100vh; text-align: center;}
.LOGIN-input{margin: 20px;}

.LOGIN-img{width: 100%; height: 80vh; margin-top:-10vh ; background-image: url(/TEST//img/Mobile\ wireframe-cuate.png); background-size: cover; }

.HELLO , .NEW{font-family: system-ui; font-weight: 600;}


.CREATE{width: 300px;height: 7vh; background-color: black; border-radius: 30px;margin-top: 2vh;}
.CREATE a {color: white; text-decoration: none; font-family: system-ui; letter-spacing: 2px;}

.LOGIN-TEXT{margin-top: 2vh;font-family: system-ui; font-weight: 600;}

.LOGIN-TEXT a{text-decoration: none; color: #455a64;}


@media (min-width:1024px) {

    .LOGIN-img{margin-top: -20vh; height: 90vh;}
   
    /* .LOGIN-img{width: 100%; background-position: center center;  background-size: contain; background-repeat: no-repeat; } */
}

@media (max-width:768px) {

    .LOGIN-img{margin-top: -10vh; height: 70vh;  width: 100% ;}
   
  
    .LOGIN-img{width: 100%; background-position: center center;  background-size: contain; background-repeat: no-repeat; }
}

@media (max-width:320px) {

    .LOGIN-img{ margin-right: 100px; height: 70vh;}
    .LOGIN-img{width: 100%; background-position: center center;  background-size: contain; background-repeat: no-repeat; }

}
/* END LOGIN PAGE */