*{margin: 0%; padding: 0%;}

body{background-color:rgb(26, 34, 56);font-family: system-ui;}


.con{width: 100%; height: 100vh;}

.box{width: 32%;
     height: 45vh;
      background-color: rgb(0, 0, 0);
       margin: 7px;
       margin-top: 20px;

       border-radius: 10px;
    display: inline-block;}
.img{background-color: rgb(255, 0, 0); width: 30%; height: 20vh; border-radius: 50%; margin: 20px; display: inline-block;
border: 3px solid rgb(255, 255, 255);
background-image: url(Nm.jpg);
background-position: center center;
background-size: 150px;}


.pr{width: 50%; height: 30vh; background-color: rgb(0, 0, 0); 
float: right;
margin: 20px 10px;}

.but{background-color: rgb(0, 0, 0); 
width: 30%;
height: 15vh;
float: right;
margin: 0px 30px;
margin-top: px;
}

.titel{text-align: center;
    color: aliceblue;
margin-top: 5px;}

.p{color: rgb(221, 224, 255); margin: 5px; }

.bx{color:rgb(26, 34, 56);
font-size: 30px;
}


button{width: 80%;
height: 5vh;
margin: 20px 0px;
border-radius: 20px;
border: 2px solid white;
background-color: rgb(26, 34, 56);
color: white;
}